html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(rgba(237, 205, 147, 0.9), rgba(237, 205, 147, 0.1)), url('https://images.pexels.com/photos/5439/earth-space.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
  display: table;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

