html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(rgba(237, 205, 147, 0.9), rgba(237, 205, 147, 0.1)), url('https://images.pexels.com/photos/5439/earth-space.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
  display: table;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 28%;
}

.content h1 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 600%;
  font-weight: 100;
  color: #1b87c5;
  line-height: 70%;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 135%;
  font-weight: 400;
  color: #3a6168;
  text-transform: uppercase;
  text-decoration: none;
  border: solid #3a6168;
  padding: 10px 20px;
  border-radius: 9px;
  transition: all 0.5s;
}

.btn:hover {
  color: #cbdfd6;
  border: solid #cbdfd6;
}

.text p {
  font-size: 150%;
  line-height: 150%;
  font-family: sans-serif;
}

/*--- Media Queries ---*/

@media screen and (max-width: 900px) {
  .content {
    padding-bottom: 30%;    
  }
  .content h1 {
    font-size: 450%;
  }
  .btn {
    font-size: 110%;
    padding: 9px 17px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    padding-bottom: 40%;    
  }
  .content h1 {
    font-size: 300%;
  }
  .btn {
    font-size: 110%;
    padding: 9px 17px;
  }
  .text p {
    font-size: 120%;
    line-height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .content {
    padding-bottom: 50%;    
  }
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 100%;
    padding: 6px 14px;
  }
  .text p {
    font-size: 100%;
    line-height: 100%;
  }
}